body {
  font-family: 'Arimo', sans-serif;
  background-color: #273238;
  color:#AAAAAA;
}

.title {
  font-size: 3.5em;
}

.body-text {
  font-size: 1.3em;
}

.body-footer {
  font-size: 1.5em;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
    width:100px; /* you can use % */
    height: auto;
    margin: 0.5em;
}
ul {
  font-size:1.3em;
}
